<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/feedback">Feedback</a></li>
    <li><a href="/healthcheck">Healthcheck</a></li>
    <li><a href="/search">National Search</a></li>
    <li><a href="/search_analytics">Search Analytics</a></li>

    {{#if offenderId }}
        <li><a href="/sfpsr?offenderId={{offenderId}}">Short Format Pre-sentence Report</a></li>
    {{else}}
        <li><a href="/sfpsr">Short Format Pre-sentence Report</a></li>
    {{/if}}
</ul>