<div style="float: left">
    <span>National Delius</span>
</div>
<div style="float: right">
    <span>Print</span>
    <span><a href="/sfpsr_list">My Documents</a></span>
    <span>User Preferences</span>
</div>
