<!DOCTYPE html>
<html>
  <head>
    <title>National Delius</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='/javascripts/main.js'></script>
  </head>
  <body>
    <div>
        <div id='top-menu'>{{> top_menu}}</div>
        <div id='offender-menu'></div>
        <div id='content'>
            <div id='menu'>{{> menu}}</div>
            <div id='main'>{{{body}}}</div>
        </div>
    </div>

  </body>
</html>
