body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

body
  margin: 0
  padding: 0
  font-family: "Helvetica Neue", Helvetica
  font-size: 12px


#top-menu
  height: 40px
  background-color: rgb(34, 34, 34)
  color: rgb(119, 119, 119)
  font-size: 18px
  span
    padding: 15px
    display: block
    float: left

#content
  padding-left: 235px
  padding-right: 15px
  width: 100%


#offender-menu
  background-color: rgb(34, 34, 34)
  color: rgb(51, 51, 51)
  height: 47px

#menu
  position: fixed
  top: 89px
  bottom: 0
  left: 0
  display: block
  overflow-x: hidden
  overflow-y: auto
  background-color: rgb(30, 51, 94)
  color: rgb(255, 255, 255)
  margin-top: -1px
  font-size: 16px
  width: 220px
  min-width: 220px
  max-width: 250px
  z-index: 1000
  padding: 0
  ul
    list-style-type: none
    li
      a
        text-align: left
        display: block
        color: #fff
        font-size: 12px
        height: 30px
        line-height: 30px
        overflow: hidden
        padding-left: 0.3em

#main
  padding-right: 220px

iframe
  width: 100%
  min-height: 900px
  margin: 0
  padding: 0
  border: none
  margin-left: -15px